body {
  font-family: "Open Sans", sans;
  margin: 0;
  padding: 0;
}

.remove-decoration {
  text-decoration: none;
  color: #292929;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.8);
  color: #292929;
  font-family: 'Montserrat', sans;
  width: 100%;
  display: grid;
  grid-template-columns: 6% 12% 12% 40% 12% 12% 6%;
  grid-column-gap: 1px;
  grid-template-rows: 50px;
  align-items: center;
  justify-items: center;
  z-index: 10;
  position: fixed;
  margin-top: -7%;
  padding-top: 2%;
}

.big-font {
  font-size: 1.6vw;
  font-family: "Montserrat", sans;
  animation-name: loadOpacity;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.small-font {
  font-size: 0.8vw;
  font-family: "Montserrat", sans;
  text-decoration: none;
  color: #292929;
  animation-name: loadOpacity;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.on-load-opacity {
  animation-name: loadOpacity;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes loadOpacity {
  0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}

.big-intro-font {
  font-size: 5vw;
  text-align: center;
  font-family: 'Baskervville', serif;
  background-color: #999999;
  width: 100%;
  margin-top: 5%;
  padding-top: 12%;
  padding-bottom: 12%;
  animation-name: loadOpacity;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.small-intro-font {
  font-size: 1.3vw;
  text-align: center;
  font-family: 'PT Serif', serif;
  padding-top: 20px;
}

/*Styling common amongst all project examples*/
.project-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 60%;
  margin-top: 10%;
  margin-left: 20%;
  margin-bottom: 10%;
  height: 40vw;
  background-color: #292929;
  color: #999999;
}

.project-number {
  font-family: 'Baskervville', serif;
  font-size: 6vw;
  margin-right: 5%;
}

.project-name {
  font-family: 'Baskervville', serif;
  font-size: 5vw;
  margin-left: 5%;
}

.image-margin {
  margin-top: -36%;
  margin-bottom: 17%;
}

/*Project 1 custom style*/
.project-1-image1 {
  margin-left: 9%;
  margin-right: 1%;
  box-shadow: 1px 2px 8px rgb(0, 0, 0);
}

.project-1-image2 {
  margin-right: 1%;
  box-shadow: 1px 2px 8px rgb(0, 0, 0);
}

/*Project 2 custom style*/
.project-2-image1 {
  margin-left: 15%;
  margin-right: 1%;
  margin-top: -1%;
  box-shadow: 1px 2px 8px rgb(0, 0, 0);
}

.project-2-image2 {
  margin-right: 1%;
  margin-top: -1%;
  box-shadow: 1px 2px 8px rgb(0, 0, 0);
}

/*Project 3 custom style*/
.project-3-image1 {
  margin-left: 17%;
  margin-right: 3%;
  margin-top: -2%;
  box-shadow: 1px 2px 8px rgb(0, 0, 0);
}

.project-3-image2 {
  margin-right: 3%;
  margin-top: -2%;
  box-shadow: 1px 2px 8px rgb(0, 0, 0);
}

/*Project 4 custom style*/
.project-4-image1 {
  margin-left: 17%;
  margin-right: 4%;
  margin-top: -2%;
  box-shadow: 1px 2px 8px rgb(0, 0, 0);
}

.project-4-image2 {
  margin-right: 4%;
  margin-top: -2%;
  box-shadow: 1px 2px 8px rgb(0, 0, 0);
}

.disclaimer-text {
  font-family: 'Baskervville', serif;
  text-align: center;
  font-size: 1.2vw;
}

/*Footer grid and styling*/
.footer-grid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  justify-items: left;
  background-color: grey;
  width: 100%;
  position: absolute;
}

/*Item styling*/
#item-1, #item-2, #item-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9vw;
  color: #292929;
}

#item-1 {
  border-right: 1px solid #292929;
  padding-left: 20%;
  padding-right: 30%;
}

#item-2 {
  font-size: 3vw;
  text-align: center;
  justify-self: center;
  padding-top: 3%;
}

.item-2-smaller {
  font-size: 0.9vw;
  justify-self: center;
  color: #292929;
}

.item-2-smallest {
  font-size: 0.8vw;
  justify-self: center;
  color: #292929;
}

#item-3 {
  border-left: 1px solid #292929;
  padding-left: 20%;
  padding-top: 6px;
}

/*Social media icon styling*/
#icons-credit {
  font-size: 0.7vw;
}

.icons {
  margin-bottom: -5px;
  padding-right: 10px;
}

.icon-text {
  display: inline-block;
  margin-bottom: 5px;
}
