body {
  font-family: "Open Sans", sans;
  margin: 0;
  padding: 0;
}

.on-load-opacity {
  animation-name: loadOpacity;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes loadOpacity {
  0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}

/*removes decoration for all links*/
.remove-decoration {
  color: #292929;
  text-decoration: none;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.8);
  color: #292929;
  font-family: 'Montserrat', sans;
  width: 100%;
  display: grid;
  grid-template-columns: 6% 12% 12% 40% 12% 12% 6%;
  grid-column-gap: 1px;
  grid-template-rows: 50px;
  align-items: center;
  justify-items: center;
  z-index: 10;
  position: fixed;
  margin-top: -3px;
  padding-top: 5px;
}

.big-font {
  font-size: 22px;
  font-family: "Montserrat", sans;
  animation-name: loadOpacity;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.small-font {
  font-size: 11px;
  font-family: "Montserrat", sans;
  text-decoration: none;
  color: #292929;
  animation-name: loadOpacity;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.main-image {
 margin-left: 4%;
 margin-bottom: 0;
 margin-top: 3px;
 margin-top: 51px;
 position: absolute;
 z-index: 0;
 animation-name: loadOpacity;
}

.text-overlay-before {
    width: 70%;
    margin-top: 19%;
    margin-left: 15%;
    margin-right: 15%;
    cursor: pointer;
    position: absolute;
    font-family: serif;
    color: white;
    font-size: 70px;
    text-align: center;
    z-index: 3;
    font-family: 'Baskervville', serif;
    animation-name: loadOpacity;
}

.text-overlay {
  font-size: 50px;
  font-family: serif;
  position: absolute;
  height: 100%;
  width: 100%;
  margin-left: 12%;
  text-align: center;
  display: none;
  text-align: left;
  z-index: 3;
  font-family: 'Baskervville', serif;
}

.text-overlay-before:hover .text-overlay {
  animation-name: overlayHover;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  display: block;
}

.text-overlay-two {
  font-size: 40px;
  font-family: serif;
  position: absolute;
  height: 50%;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  display: none;
  text-align: left;
  color: white;
  z-index: 3;
  animation-name: overlayHover;
  font-family: 'Baskervville', serif;
}

.text-overlay:hover .text-overlay-two {
  display: block;
  animation-name: overlayHover;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes overlayHover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.location-text {
  color: white;
  font-family: serif;
  font-size: 18px;
  position: absolute;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 43%;
  z-index: 2;
  text-align: center;
  font-family: 'Baskervville', serif;
  animation-name: loadOpacity;
}

.margin-control {
  position: absolute;
  margin-top: 50%;
}

/*Footer grid and styling*/
.footer-grid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  justify-items: left;
  background-color: grey;
  width: 100%;
  margin-top: 55%;
  position: absolute;
}

/*Item styling*/
#item-1, #item-2, #item-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #292929;
}

#item-1 {
  border-right: 1px solid #292929;
  padding-left: 20%;
  padding-right: 30%;
}

#item-2 {
  font-size: 40px;
  text-align: center;
  justify-self: center;
  padding-top: 30px;
}

.item-2-smaller {
  font-size: 12px;
  justify-self: center;
  color: #292929;
}

.item-2-smallest {
  font-size: 10px;
  justify-self: center;
  color: #292929;
}

#item-3 {
  border-left: 1px solid #292929;
  padding-left: 20%;
  padding-top: 6px;
}

/*Social media icon styling*/
#icons-credit {
  font-size: 8px;
}

.icons {
  margin-bottom: -5px;
  padding-right: 10px;
}

.icon-text {
  display: inline-block;
  margin-bottom: 5px;
}
