body {
  font-family: "Open Sans", sans;
  margin: 0;
  padding: 0;
}

/*navigation styling*/
.navigation {
  background-color: rgba(255, 255, 255, 0.8);
  color: #292929;
  font-family: 'Montserrat', sans;
  width: 100%;
  display: grid;
  grid-template-columns: 6% 12% 12% 40% 12% 12% 6%;
  grid-column-gap: 1px;
  grid-template-rows: 50px;
  align-items: center;
  justify-items: center;
  z-index: 10;
  position: fixed;
  margin-top: -7%;
  padding-top: 2%;
}

.big-font {
  font-size: 1.6vw;
  font-family: "Montserrat", sans;
  animation-name: loadOpacity;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.small-font {
  font-size: 0.8vw;
  font-family: "Montserrat", sans;
  text-decoration: none;
  color: #292929;
  animation-name: loadOpacity;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/*removes link decoration for all links*/
.remove-decoration {
  text-decoration: none;
  color: #292929;
}

.on-load-opacity {
  animation-name: loadOpacity;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes loadOpacity {
  0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}

.big-intro-font {
  font-size: 5vw;
  text-align: center;
  font-family: 'Baskervville', serif;
  background-color: #999999;
  width: 100%;
  margin-top: 5%;
  padding-top: 12%;
  padding-bottom: 12%;
  animation-name: loadOpacity;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.small-intro-font {
  font-size: 1.3vw;
  text-align: center;
  font-family: 'PT Serif', serif;
  padding-top: 20px;
}

/*New activators for ALL radio buttons instead of the default radio ones*/
.new-activator-flex {
  display: flex;
  flex-direction: row;
  width: 105px;
  justify-content: space-around;
  position: absolute;
}

.new-activator {
  width: 15px;
  height: 15px;
  background-color: #292929;
  opacity: 0.7;
}

/*The style of project numbers for ALL projects*/
.project-number {
  font-family: 'Baskervville', serif;
  font-size: 6vw;
  width: 30%;
  height: 50%;
  margin-top: -50%;
  margin-left: -70%;
  margin-bottom: 27%;
  padding-left: 10px;
  color: gray;
  background-color: #292929;
}

/*The style of project name for ALL projects*/
.project-name {
  font-family: 'Baskervville', serif;
  color: #292929;
  background-color: #999999;
  font-size: 3.8vw;
  width: 20%;
  padding-left: 10%;
  padding-right: 3%;
  height: 40%;
  margin-top: -50%;
  margin-left: 51%;
}

/*Adds a box-shadow for all images*/
li img {
  box-shadow: 1px 2px 8px rgb(0, 0, 0);
}

/*First project example*/
.project-1 {
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 46.5%;
}

ul {
  padding: 0;
}

.activator-1 {
  opacity: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.slide-1 {
  display: none;
  margin-top: -30px;
  margin-left: -39%;
}

.activator-1:nth-of-type(1):checked ~ .slide-1:nth-of-type(1) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.activator-1:nth-of-type(2):checked ~ .slide-1:nth-of-type(2) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.activator-1:nth-of-type(3):checked ~ .slide-1:nth-of-type(3) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.activator-1:nth-of-type(4):checked ~ .slide-1:nth-of-type(4) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes showSlide {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/*Second project example*/
.project-2 {
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 46.5%;
}

ul {
  padding: 0;
}

.activator-2 {
  opacity: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-right: 14px;
}

.slide-2 {
  display: none;
  margin-top: -30px;
  margin-left: -39%;
}

.activator-2:nth-of-type(1):checked ~ .slide-2:nth-of-type(1) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.activator-2:nth-of-type(2):checked ~ .slide-2:nth-of-type(2) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.activator-2:nth-of-type(3):checked ~ .slide-2:nth-of-type(3) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes showSlide {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/*Third project example*/
.project-3 {
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 46.5%;
}

ul {
  padding: 0;
}

.activator-3 {
  opacity: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-right: 14px;
}

.slide-3 {
  display: none;
  margin-top: -30px;
  margin-left: -39%;
}

.activator-3:nth-of-type(1):checked ~ .slide-3:nth-of-type(1) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.activator-3:nth-of-type(2):checked ~ .slide-3:nth-of-type(2) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.activator-3:nth-of-type(3):checked ~ .slide-3:nth-of-type(3) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes showSlide {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/*Fourth project example*/
.project-4 {
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 46.5%;
}

ul {
  padding: 0;
}

.activator-4 {
  opacity: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.slide-4 {
  display: none;
  margin-top: -30px;
  margin-left: -39%;
}

.activator-4:nth-of-type(1):checked ~ .slide-4:nth-of-type(1) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.activator-4:nth-of-type(2):checked ~ .slide-4:nth-of-type(2) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.activator-4:nth-of-type(3):checked ~ .slide-4:nth-of-type(3) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.activator-4:nth-of-type(4):checked ~ .slide-4:nth-of-type(4) {
  display: block;
  animation-name: showSlide;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes showSlide {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/*Footer grid and styling*/
.footer-grid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  justify-items: left;
  background-color: grey;
  width: 100%;
  position: absolute;
}

/*Item styling*/
#item-1, #item-2, #item-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9vw;
  color: #292929;
}

#item-1 {
  border-right: 1px solid #292929;
  padding-left: 20%;
  padding-right: 30%;
}

#item-2 {
  font-size: 3vw;
  text-align: center;
  justify-self: center;
  padding-top: 3%;
}

.item-2-smaller {
  font-size: 0.9vw;
  justify-self: center;
  color: #292929;
}

.item-2-smallest {
  font-size: 0.8vw;
  justify-self: center;
  color: #292929;
}

#item-3 {
  border-left: 1px solid #292929;
  padding-left: 20%;
  padding-top: 6px;
}

/*Social media icon styling*/
#icons-credit {
  font-size: 0.7vw;
}

.icons {
  margin-bottom: -5px;
  padding-right: 10px;
}

.icon-text {
  display: inline-block;
  margin-bottom: 5px;
}
